.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column ;
  height: 90vh;
  background: url('https://static.toiimg.com/thumb/67214972.cms?width=680&height=512&imgsize=4344222') no-repeat;
  background-size: cover;
  opacity: 0.8;

}
.container-title{
  color: var(--primary-color);
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
}

