.shop{
  position: relative;
}

.shop-image{
  width: 100%;
  margin: 0; 
}
.shop-desc{
  position: absolute;
  top: 13rem;
  left: 4rem;
  font-size: 1.5rem;
  padding: 1rem;
}
.shop-heading{
  color: var(--primary-color);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.shop-btn{
  color: var(--secondary-color);
  text-decoration: none;
  background-color: var(--primary-color);
  text-transform: capitalize;
  padding: 5px 8px;
}