.product-listing{  
  top: 100px;
  gap: 1rem;
  display: flex;
  position: relative;
  flex-direction: column;
}

.fa-filter{
  position: fixed;
  left: 1rem;
  top: 8rem;
  display: none;
  font-size: 1.1rem;
  cursor: pointer;
  z-index: 12;
  color: var(--primary-color);
  font-size: 1.3rem;
}



@media screen and (max-width: 792px) {
 .fa-filter{
    display: block;
 }
}