.addresses {
  margin-top: 5rem;
  padding: 2rem 1rem;
}

.addressess-back{
color: var(--primary-color);
margin: 5px 0;
font-size: 1.4rem;
cursor: pointer;
}

.addresses-new {
  background-color: var(--primary-color);
  padding: 5px 8px;
  text-transform: capitalize;
  color: var(--secondary-color);
  border: none;
}
.addresses-desc {
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--primary-color);
}
.addresses-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.single-address {
  border: 3px solid var(--primary-color);
  width: 20rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.single-address-desc {
  text-transform: capitalize;
  padding: 3px 4rem;
}
.single-address-edit,
.single-address-delete {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  text-transform: capitalize;
  padding: 3px 1rem;
  border: none;
  margin-left: 1rem;
}
