.wishlist-items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.card{
  width: 15rem;
 
}
.card-dismiss{
  padding: 1.4rem;
}

.card-dismiss-btn{
  top: 4px;
  cursor: pointer;
  right: 4px; 
}

.wishlist-length{
color: var(--primary-color);
}

