.categories,
.most-wishlisted {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.category {
    position: relative;
    border: 3px solid var(--secondary-color);
    box-shadow: 5px 5px var(--gray);
    cursor: pointer;
}

.category-title {
    position: absolute;
    top: 5rem;
    background-color: var(--secondary-color);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 0;
}

.category-title:hover {
    background-color: var(--gray);
}