.rating {
  margin-left: 5rem;
}
.cart-secondary {
  text-decoration: none;
  color: var(--primary-color);
}
.card-title {
  color: var(--black);
  font-weight: 500;
}
.card-btns {
  margin-top: 1rem;
}
