.cart-page{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}
.alert{
    position: fixed;
}

/* @media screen and (max-width: 792px) {
 .cart-page{
    flex-direction: column;
 }
} */

