.price {
  text-transform: capitalize;
  background-color: var(--primary-color);
  width: 20rem;
  padding: 1rem;
  margin-left: 1rem;
  height: 20rem;
}
.price-heading,
.price-inner {
  font-size: 1.1rem;
  font-weight: light;
}

.price-heading,
.price-total {
  border-bottom: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  font-weight: light;
}
.price-desc {
  display: flex;
  justify-content: space-between;
}
.price-desc-desc,
.price-desc-price {
  display: inline;
  margin: 5px 0;
  font-weight: lighter;
  color: var(--secondary-color);
}
.price-total {
  border-top: 1px solid var(--secondary-color);
}
.price-saving,
.price-details-amount {
  padding: 6px 0;
}
.price-saving{
  color: var(--secondary-color);
}
.price-btn {
  background-color: var(--secondary-color);
  padding: 3px 7px;
  margin: 6px 0;
  text-transform: capitalize;
  border: none;
  width: 100%;
  cursor: pointer;
}

